.enquiries {
    background-color: $dark-blue;
    padding: 30px 40px 5px 40px;

    &__heading--size {
        font-size: 20px;
    }

    &__heading--left {
        text-align: left;
    }

    &__list {
        margin-bottom: 30px;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

.messages {
    background: -webkit-linear-gradient(120deg, $dark-blue 75%, $element-blue 25%);
    background: -o-linear-gradient(120deg, $dark-blue 75%, $element-blue 25%);
    background: -moz-linear-gradient(120deg, $dark-blue 75%, $element-blue 25%);
    background: linear-gradient(120deg, $dark-blue 75%, $element-blue 25%);
    padding: 30px 40px 5px 40px;

    &__heading--size {
        font-size: 20px;
    }

    &__heading--left {
        text-align: left;
    }

    &__hr--color {
        background-color: $element-blue;
        max-width: 700px;
        margin: 0px;
        margin-bottom: 30px;
    }
}
