.btn {
    font-family: $button-font;
    text-transform: uppercase;
    color: $dark-blue;
    background-color: $light-blue;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
}

.btn:hover {
    color: white;
    background-color: darken($light-blue, $amount: 18%);
}
