.btn {
    font-family: $button-font;
    text-transform: uppercase;
    color: $dark-blue;
    background-color: $light-blue;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    box-shadow: 8px 6px 10px 5px rgba($bg-blue, $alpha: 0.3);
}

.btn--expand:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .7s ease;
    color: $dark-blue;
}
