.img__container {
    position: relative;
    text-align: center;
    color: white;
}

.img__text--center {
    left: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
}

.city--padding {
    padding: 30px;
}
