#heading-logo {
  font-family: $logo-font;
  font-size: 60px;
  margin-top: 60px;
  letter-spacing: 10px;
}

.icons {
  padding-top: 40px;

  &__heading {
    font-size: 18px;
    padding: 5px;
    color: white !important;

    &:hover {
      text-decoration: underline;
    }
  }

  &--opacity:hover {
    opacity: 0.5;
  }
}

.search {
  background: -webkit-linear-gradient(
    120deg,
    $dark-blue 75%,
    $element-blue 25%
  );
  background: -o-linear-gradient(120deg, $dark-blue 75%, $element-blue 25%);
  background: -moz-linear-gradient(120deg, $dark-blue 75%, $element-blue 25%);
  background: linear-gradient(120deg, $dark-blue 75%, $element-blue 25%);
  border-radius: 25px;
  padding: 40px;

  &__results {
    background: white;
    padding: 10px;
    border-radius: 15px;
  }

  &__links a {
    color: $dark-blue;
  }
}

.bergen__img--padding {
  padding: 10px;
}

// Icons
.attribution {
  font-size: 12px;
  padding: 5px;
  text-align: right;

  a {
    color: $light-blue;
  }
}
