.navbar {
    background-color: transparent !important;

    .navbar-toggler {
        border: none;
    }

    &__hamburger--color {
        color: $light-blue !important;
    }

    &__brand {
        font-family: $logo-font;
        color: white;
    }

    &__link {
        color: $light-blue;
        font-family: $button-font;
        text-transform: uppercase;
        padding-left: 15px;
        padding-right: 15px;

        &:hover {
            color: white;
            border-bottom: 3px solid $light-blue;
            text-decoration: none;
        }
    }
}
