.navbar {
    background-color: $dark-blue !important;

    &__brand {
        font-family: $logo-font;
        color: white;
    }

    &__link {
        color: $light-blue;
        font-family: $button-font;
        text-transform: uppercase;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__link--hover:hover {
        color: white;
        border-bottom: 3px solid $light-blue;
        text-decoration: none;
    }

    // longer border-bottom
    &__link--border-length {
        padding: 0px 10px 0px 10px;
    }
    
}


